<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/public/styles.css">
    <!-- Shanjai Kailanathan/About.ejs/10/02/2023-->
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </nav>
    </header>

    <section class="about">
        <h1>About Me</h1>
        <div class="about-content">
            <div class="text-content">
                <h2>Hello!</h2>
                <p>My name is Shanjai Kailanathan and I am a Software engineer student.I am 23 years old and I am in my third semester at Centennial
                    College. I hope to finish my advanced diploma in the next year and look to get a degree in software. I am familiar with web
                    development, c#, python, and Java.
                    </p>
            </div>
            <div class="image-content">
                <img src="/public/images/Shanjai.png" alt="Your Image">
            </div>
            <div class="resume-link">
                <a href="/public/ShanjaiKailanathan.pdf" target="_blank">View My Resume</a>
            </div>
        </div>
    </section>
</body>

</html>
