<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/public/styles.css">
    <!-- Shanjai Kailanathan/project.ejs/10/02/2023-->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </nav>
    </header>
    <h2>Projects</h2>

    <div class="centered-container">
        <div class="project-item">
            <img src="/public/images/Calculator.png" alt="Calculator">
            <h3>Calculator Project</h3>
            <p>Working Calculator app using HTML, CSS, and JavaScript</p>
        </div>
        <div class="project-item">
            <img src="/public/images/Business_project.png" alt="Business_project">
            <h3>Business Project</h3>
            <p>Description of your business project goes here.</p>
        </div>
    </div>
</html>